@import "bootstrap";

/* global */

html, body { 
  font-family: 'Oxygen', Arial, Helvetica, sans-serif; 
  height: 100%;
  background: white;
}

.wrap > .container { padding-top: 150px; }

.wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -50px;
}

*,
*:after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* typography */

h1 {
  font-weight: normal;
  text-shadow: 0 -1px rgba(0,0,0,0.6);
  font-size: 28px;
  line-height: 40px;
  background: rgba(53,86,129, 0.8);
  border: 1px solid #fff;
  padding: 5px 15px;
  color: white;
  box-shadow: inset 0 0 5px rgba(53,86,129, 0.5);
}

/* header */

.navbar {
  background-color: #3f608c;
}

.navbar-fixed-top {
  margin-top: 40px;
  padding-top: 40px;
}

header {
  @extend .opaq;
}

/* brand */

.navbar-brand {
  float: left;
  margin-bottom: -10px;
}

header a {
  background: #7fa2c7;    
  padding: 5px;   
  -webkit-border-radius: 5px;   
  -moz-border-radius: 5px;
  border-radius: 5px;
  
  -webkit-transition-property: color, background;   
  -webkit-transition-duration: 1s, 1s;   
  -webkit-transition-timing-function: linear, ease-in;  
}

.shadow {
  -moz-box-shadow:    3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #ccc;
}

/* footer */

#push { height: 50px; }

#footer {
  position: relative;
  height: 50px;
}

nav a {
  position: relative;
  display: inline-block;
  float: right;
  margin: 15px 25px;
  outline: none;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  text-shadow: 0 0 1px rgba(255,255,255,0.3);
  font-size: 1.35em;
}

nav a:hover,
nav a:focus {
  outline: none;
  text-decoration: none;
  border-bottom-style: solid;
}

#footer-nav a::before,
#footer-nav a::after {
  display: inline-block;
  opacity: 0;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
  -moz-transition: -moz-transform 0.3s, opacity 0.2s;
  transition: transform 0.3s, opacity 0.2s;
}

#footer-nav a::before {
  margin-right: 10px;
  content: '[';
  -webkit-transform: translateX(20px);
  -moz-transform: translateX(20px);
  transform: translateX(20px);
}

#footer-nav a::after {
  margin-left: 10px;
  content: ']';
  -webkit-transform: translateX(-20px);
  -moz-transform: translateX(-20px);
  transform: translateX(-20px);
}

#footer-nav a:hover::before,
#footer-nav a:hover::after,
#footer-nav a:focus::before,
#footer-nav a:focus::after {
  opacity: 1;
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  transform: translateX(0px);
}

/* fancy-line */

.fancy-line { 
  display: block;
  border: none;
  color: white;
  height: 1px;
  margin: 10px 0;
  background: black;
  background: -webkit-gradient(radial, 100% 50%, 0, 50% 50%, 250, from(#000), to(#fff));
}

/* opacity */

.opaq {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=80);
  -moz-opacity: 0.80;
  -khtml-opacity: 0.8;
  opacity: 0.8;
}

/* tilt content */

.tilt {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
   transition: all 0.5s ease;
}
 
.tilt:hover {
  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
   transform: rotate(-10deg);
}

/* errors */

#error_explanation {
  @extend .alert;
  @extend .alert-danger;
  @extend .alert-block;
}

/* vertical spacing */

.spacer {
 height: 200px;
 width: 100%;
 font-size: 0;
 margin: 0;
 padding: 0;
 border: 0;
 display: block;
}

.spacer40 {
 height: 40px;
 width: 100%;
 font-size: 0;
 margin: 0;
 padding: 0;
 border: 0;
 display: block;
}



/* fluid images */

img {
     max-width: 100%;
}

/* forms */

input:not([type=submit]), textarea:not([type=submit]) {  
  box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;  
  -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;  
  -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;  

  background-image: url('checkmark.png') !important;
  background-position: 110% center;
  background-repeat: no-repeat;
} 

input:focus, textarea:focus {
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px; 
  -webkit-transition: background-color 0.5s linear;
  background-position: 110% center;
  background-repeat: no-repeat;
}

form#sign_up_form input:valid:not([type=submit]), form#sign_up_form textarea:valid:not([type=submit]) {
  background-position: 98% center;
  background-color: #afeaaa;
  @extend .opaq;
}

input:invalid:not([type=submit]), textarea:invalid:not([type=submit]) {

}

::-webkit-input-placeholder { color: #aaafbd; font-style: italic; }
:-moz-placeholder { color: #aaafbd; font-style: italic; }
::-moz-placeholder { color: #aaafbd; font-style: italic; }
:-ms-input-placeholder { color: #aaafbd; font-style: italic; }

#profile_hardware::-webkit-input-placeholder::after {
    display: block;
    content: "Intel i5-2500k (OC 3.8Ghz)\A 8GB Ram";
}


.submit {  
  background: #25aac2;  
  border: 0;  
  color: white;
  -webkit-border-radius: 5px;  
  -moz-border-radius: 5px;  
}

/* polaroid image */

.polaroid {
  position: relative;
}
 
.polaroid img {
  border: 10px solid #fff;
  border-bottom: 45px solid #fff;
  -webkit-box-shadow: 3px 3px 3px #777;
     -moz-box-shadow: 3px 3px 3px #777;
          box-shadow: 3px 3px 3px #777;
}
 
.polaroid p {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 0px;
  color: #888;
}

/* sign_in modal window */ 

.modal-dialog {
  width: 420px;
  margin-left: -210px;
  margin-top: 10%;
  left: 50%;
}

.modal-header {
  background: url(modal-header.png);
  border-bottom: 1px solid #CCC;
  padding-bottom: 30px;
}

#following { float: left; }

#followers { float: right; }

#forgot_pass { padding-top: 10px;}

/* box */

.box {
  padding: 20px;
  margin-top: 20px;
  height: 50px;
  border: 1px solid #e3e3e3;
}
