@import "bootstrap";
@import "bootstrap-responsive";

body {  padding-top: 60px; }

/* footer */

footer {
  position: fixed;
  bottom: 0;
}


ul {
  overflow: auto;
  list-style-type: none;
  padding-right: 20px;
}

li {
  height: 20px;
  float: right;
  margin-left: 0px;
  border-left: 1px solid #aaa;
  padding: 0 20px;
}

li:last-child { border-left: none; }

li a {
  text-decoration: none;
  color: #999;
  font: 15px/1 Helvetica, Verdana, sans-serif;
  text-transform: uppercase;
 
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
 
li a:hover {
  color: #333;
}
 
li.active a {
  font-weight: bold;
  color: #666;
}

/* fancy-line */

.fancy-line { 
    display: block;
    border: none;
    color: white;
    height: 1px;
    background: black;
    background: -webkit-gradient(radial, 100% 50%, 0, 50% 50%, 250, from(#000), to(#fff));
}
