@import "bootstrap";

html, body { height: 100%; }

.wrap > .container { padding-top: 60px; }

.wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -50px;
}

/* footer */

#push { height: 50px; }

#footer {
  position: relative;
  height: 50px;
}

footer ul {
  overflow: auto;
  list-style-type: none;
  padding-right: 20px;
}

footer li {
  height: 20px;
  float: right;
  margin-left: 0px;
  border-left: 1px solid #aaa;
  padding: 0 20px;
}

footer li:last-child { border-left: none; }

footer li a {
  text-decoration: none;
  color: #999;
  font: 15px/1 Helvetica, Verdana, sans-serif;
  text-transform: uppercase;
 
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
 
footer li a:hover {
  color: #333;
}
 
footer li.active a {
  font-weight: bold;
  color: #666;
}

/* fancy-line */

.fancy-line { 
    display: block;
    border: none;
    color: white;
    height: 1px;
    margin: 10px 0;
    background: black;
    background: -webkit-gradient(radial, 100% 50%, 0, 50% 50%, 250, from(#000), to(#fff));
}

#error_explanation {
  @extend .alert;
  @extend .alert-danger;
  @extend .alert-block;
}
