<footer id="footer" class="navbar-fixed-bottom shadow">
  <nav id="footer-nav">
    <%= link_to "About", page_path('about') %>
    <%= link_to "Help", page_path('help') %>
    <%= link_to "Contact", page_path('contact') %>
  </nav>
</footer>
