<footer id="footer" class="navbar-fixed-bottom shadow">
  <ul>
    <li><%= link_to "About", page_path('about') %></li>
    <li><%= link_to "Help", page_path('help') %></li>
    <li><%= link_to "Contact", page_path('contact') %></li>
  </ul>
</footer>
